<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eco-Wild</title>
  <meta name="keywords" content="wildelife, animals">
  <meta name="description"
    content="Eco-Wild is a non-profit organization that is dedicated to the preservation of wildlife.">
  <link rel="icon" href="/images/icons/favicon.ico" type="image/x-icon">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/public.css">
  <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
  <%- include('../layouts/header.html') %>
    <main>
      <!-- >>>>>>> edit profile start >>>>>>>> -->



      <!-- >>>>>>> edit profile end >>>>>>>> -->

      </div>

    </main>


    <!-- import footer section -->
    <%- include('../layouts/footer.html') %>

      <!-- bootstrap JS, Popper.js, and jQuery -->
      <script src="/bootstrap/js/bootstrap.bundle.js"></script>
      <script src="/jquery/jquery.js"></script>
      <script src="/js/userProfile.js"></script>
</body>

</html>