<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="overlay"></div>
  <div class="login-form">
    <div class="logo"></div>
    <h1>EcoWild</h1>
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="remember" name="remember">
        <label class="form-check-label" for="remember">Remember me</label>
      </div>
      <div class="login-buttons">
        <button type="submit" class="btn btn-info">Submit</button>
        <button type="button" id="cancel" class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </div>