# Node modules
node_modules/

# Environment files
.env

# macOS system files
.DS_Store

# Log files
npm-debug.log*


# Output directories
dist/
build/

# Editor folders (optional，但很常见，防止提交IDE配置)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
