<footer>
  <div class="container footer">

    <div class="copyright">
      <a class="logo">
        <img src="https://aflive.qiniu.huangmeimi.com/uPic/logo.png" alt="Eco-Wild">
      </a>
      <p>&copy;2024 EcoWild </p>
    </div>
    <!-- <div class="footer-links">
      <ul class="footer-items">
        <li><a href="/">Home</a></li>
        <li><a href="/wildlife">Wildlife</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/volunteer">Volunteer</a></li>
      </ul>
    </div> -->
    <div class="media">
      <ul>
        <li>Address: 8160 Parkhill Dr, Milton, ON L9T 5V7</li>
        <li>Email: ecowild@gmail.com</li>
        <li>Phone: 226-226-1234</li>
      </ul>
      <div class="social-media">
        <a href=""><img src="/images/icons/facebook.png" alt="facebook"></a>
        <a href=""><img src="/images/icons/ins.png" alt="instagram"></a>
        <a href=""><img src="/images/icons/twitter.png" alt="twitter"></a>
      </div>
    </div>
</footer>