<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="icon" href="/images/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/public.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>
</head>

<body>
  <main>
    <div class="loginBgc"></div>
    <div class="overlay"></div>
    <div class="login-form">
      <div class="logo"></div>
      <h1>EcoWild</h1>
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
          <% if (typeof(errors) !='undefined' ){ if(errors.email) { %>
            <div class="error">
              <%= errors.email %>
            </div>
            <% }} %>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
          <% if (typeof(errors) !='undefined' ){ if(errors.password) { %>
            <div class="error">
              <%= errors.password %>
            </div>
            <% }} %>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="remember" name="remember">
          <label class="form-check-label" for="remember">Remember me</label>
        </div>
        <% if (typeof(dbErrors) !='undefined' ){ %>
          <div class="error">
            <%= dbErrors.dberror %>
          </div>
          <% } %>
            <div class="login-buttons">
              <button type="submit" class="btn btn-info">Login</button>
              <button type="button" id="cancel" class="btn btn-secondary">Cancel</button>
            </div>
            <p class="login-prompt">Do not have an account? Please <a href="/register" class="btn-link">Register</a>
            </p>
      </form>
    </div>
  </main>

  <!-- bootstrap js -->
  <script src="/bootstrap/js/bootstrap.js"></script>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="/js/login.js"></script>
</body>

</html>