<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eco-Wild</title>
  <meta name="keywords" content="wildelife, animals">
  <meta name="description"
    content="Eco-Wild is a non-profit organization that is dedicated to the preservation of wildlife.">
  <link rel="shortcut icon" href="/images/icons/favicon.ico">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/public.css">
  <link rel="stylesheet" href="/css/event.css">
</head>

<body>
  <!-- import header/nav section -->
  <%- include('../layouts/header.html') %>

    <main>
      <!-- >>>>>>> hero image start >>>>>>>> -->
      <section class="hero-public">
        <img src="/images/event.jpg" alt="Eco-Wild">
        <h1>Our Events <small class="text-body-secondary">We need You</small></h1>
      </section>
      <!-- >>>>>>> hero image end >>>>>>>>> -->

      <!-- >>>>>>>>>>>>>>>> event list start >>>>>>>>>>>>>> -->
      <div class="container event">
        <% paginatedEvents.forEach(event=> { %>
          <div class="row event-item">
            <div class="col-md-6 event-img">
              <img src="https://<%= event.image %>" alt="<%= event.name %>">
            </div>
            <div class="col-md-6 event-info">
              <h2>
                <%= event.title %>
              </h2>
              <ul>
                <li><strong>City: </strong>
                  <%= event.city %>
                </li>
                <li><strong>Location: </strong>
                  <%= event.location %>
                </li>
                <li><strong>Time: </strong>
                  <%= event.startTime%> - <%= event.endTime%>
                </li>
                <li><strong>Detail: </strong>
                  <%= event.detail %>
                </li>
                <li><strong>participant: </strong> Up to <%= event.participant %> people</li>
                <li><strong>Organizer(s): </strong>
                  <% event.organizer.forEach((name,index)=> { %>
                    <%= name %>
                      <%= index < event.organizer.length-1 ? "," : "" %>
                        <%})%>
                </li>
              </ul>
              <a href="/event/<%= event._id %>" class="btn btn-info">Apply Volunteer</a>
            </div>
          </div>

          <% }); %>
            <!-- end of paginatedEvents.forEach -->
            <!-- >>>>>>>>>>>>>>>> event list end >>>>>>>>>>>>>> -->
            <!-- >>>>>>>>>> pagination start >>>>>>>>>>>> -->

            <div class="pages">
              <ul class="pagination">
                <% if (currentPage> 1) { %>
                  <li class="page-item">
                    <a href="/event?page=<%= currentPage-1 %>" class="page-link">Previous</a>
                  </li>
                  <% } %>
                    <% for (let page=1; page <=totalPages; page++) { %>
                      <li class="page-item">
                        <a href="/event?page=<%= page %>"
                          class="page-link <%= page == currentPage ? 'pageActive' : '' %>">
                          <%= page %>
                        </a>
                      </li>
                      <% } %>
                        <% if (currentPage < totalPages) { %>
                          <li class="page-item">
                            <a href="/event?page=<%= currentPage+1 %>" class="page-link">Next</a>
                          </li>
                          <% } %>
              </ul>
            </div>
            <!-- >>>>>>>>>> pagination end >>>>>>>>>>>> -->

      </div>



    </main>

    <!-- import footer section -->
    <%- include('../layouts/footer.html') %>

      <!-- bootstrap JS, Popper.js, and jQuery -->
      <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>